*{
    margin: 0;
    padding: 0;
}


.navigation{
    position: auto;
   top: 0px;
   height: 55px;
   width: 100%;
   background-color: rgba(66 103 178);
}

.img-logo{
    position: absolute;
    height: 55px;
    background-color:rgba(66 103 178); 
    margin: 0px 130px ;
    
}

.login_form{
    /* flex enables to adjust different label in horizontal line ... by default its always vertical and cannot be moved by margin */
    display: flex;
    height: 70px;
    width: 40%;
    margin: 0 750px;
    /* border:3px solid red ; */
}

.userdetail{
 /* border: 3px solid yellow; */
 width: 35%;
}

.userpass{
    /* border: 3px solid green; */
    width: 35%;
    margin: 0 2px  ;
}

label{
    color: white;
    font: arial;
    font-size: 13px;
}

input{
    height: 20px;
    outline: none;
    border: 1.5px solid black;
}

.login{
    height: 20px;
    width: 45px;
    font-weight: 550;
    color: white;
    margin: 20px 0;
    border-radius: 2px;
    outline: none;
    border: 1px solid black;
    background: #2d5bba;
}

/* .............................................................. */

.welcome_intro{
    display: flex;
    background-color: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
}

.left_div{
    width: 60%;
    border: 2px solid black;
}

.welcome_img{
    position: absolute;
    height: 330px;
    width: 300px;
    margin: 30px 180px;
}

.p_first{
    color: royalblue;
    font-family: arial;
    font-size: 25px;
    padding: 360px 200px 0px;
}

.p_snd{
    font-family: arial;
    font-size: 25px;
    padding: 9px 150px;
}

.right_div{
    border: 2px solid black;
    width: 50%;
    
}

.acc_p1{
    font-size: 40px;
    font-family: arial;
    margin: 10px 30px 0;
}

.acc_p2{
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    margin: 0 35px;
}

.sign_up{
    border: 1px solid black;
    margin: 20px 35px;
    height: 78%;

}

.Fname{
    height: 25px;
    width: 36%;
    border-color: grey;
    border-radius: 3px;
    padding: 0 8px;
}

.Lname{
    margin: 0 15px 20px;
    height: 25px;
    width: 36%;
    border-color: grey;
    border-radius: 3px;
    padding: 0 8px;
}

.Num{
    height: 25px;
    width: 80%;
    margin: 0 0 20px;
    border-color: grey;
    border-radius: 3px;
    padding: 0 8px;
}

.Pass{
    height: 25px;
    width: 80%;
    margin: 0 0 20px;
    border-color: grey;
    border-radius: 3px;
    padding: 0 8px;
}

.Cpass{
    height: 25px;
    width: 80%;
    border-color: grey;
    border-radius: 3px;
    padding: 0 8px;
}


/* hello my name is saroja gurung 
learning git and git bash*/


